.contact{
    /* background-image: url(../../../public/wave-haikei.png);
    background-size: 100% 100% ;
    background-position: center; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: rgb(199, 197, 197);
    overflow: hidden;
    

}

