/* ProjectCard.module.css */
.ProjectCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.projectContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.projectImage {
    height: 400px;
    width: 700px;
    margin-right: 50px;
    flex-shrink: 0;
    border: 2px solid black;
    
}

.projectText {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.project_title {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
}

.project_stack {
    margin-top: 10px;
    font-size: 1.8rem;
}

.project_description{
    font-size: 1.3rem;
    margin-top: 10px;
}

.project_link {
    margin-top: 20px;
   
    
}

.deployed_link{
    margin-top: 20px;
    color: rgb(199, 197, 197);
}

.codes{
    margin-top: 20px;
}

